<ion-view view-title="Calendrier">
  <ion-content>
    <ion-list>
      <h1>Calendrier des prochaines sorties</h1>

      <ion-list>
        <ion-radio ng-model="calendar" ng-value="'animes'" ng-change="displayCalendar('animes')">Animes</ion-radio>
        <ion-radio ng-model="calendar" ng-value="'mangas'" ng-change="displayCalendar('mangas')">Mangas</ion-radio>
      </ion-list>


      <div ng-repeat="(day, infos) in days">
            <div>
                <ul class="card margin" style="width: 100%;">
                        <h2 class="date_title item item-divider" style="text-align: center;">
                            {{ infos[0].nb_days == 0 || infos[0].nb_days == 0 ? "Aujourd'hui" :
                            infos[0].nb_days == 1 || infos[0].nb_days == 1 ? 'Demain' :
                            infos[0].nb_days ? 'Dans '+infos[0].nb_days+' jours' : 'Dans '+infos[0].nb_days+' jours' }} - {{day}}
                        </h2>
                    <li class="card" ng-repeat="info in infos" style="width: 50%; display: inline-block;">
                        <div ng-if="info.img" style="padding-bottom: 20px;">
                            <img class="img-thumbnail img-hover img-center" ng-src="img/{{ info.type == 'manga' ? 'tomes' : 'animes' }}/{{ info.img }}">
                        </div>
                        <div ng-if="!info.img" style="padding-bottom: 20px;">
                            <img class="img-thumbnail img-hover img-center" ng-src="img/default/thumbnail.png">
                        </div>
                        <p style="text-align: center;">
                            <a href="#/{{ info.type }}/{{ info.id }}">{{ info.title_oeuvre }}</a>
                        </p>
                        <p style="text-align: center; margin-top: 10px;">{{ info.type == "manga" ? 'Tome' : 'Épisode' }} {{ info.number }}{{ info.title ? ' - '+info.title : '' }}</p>
                    </li>
                </ul>
            </div>
        </div>
  </ion-content>
</ion-view>
