<ion-view view-title="Calendrier">
  <ion-content>
    <ion-list>
      <h1>Calendrier des prochaines sorties</h1>

      <ion-list>
        <ion-radio ng-model="calendar" ng-value="animes" ng-change="displayCalendar()">Animes</ion-radio>
        <ion-radio ng-model="calendar" ng-value="mangas" ng-change="displayCalendar()">Mangas</ion-radio>
      </ion-list>


      <div class="col-lg-12 col-md-12 well" ng-repeat="(day, infos) in days">
            <div class="row">
                <ul>
                    <li class="col-lg-12 col-md-12" style="text-align: center;">
                        <h2 style="border-bottom: 1px solid #C0C0C0; padding-bottom: 10px; font-size: 30px;">
                            {{ infos[0].nb_days == 0 || infos[0].nb_days == 0 ? "Aujourd'hui" :
                            infos[0].nb_days == 1 || infos[0].nb_days == 1 ? 'Demain' :
                            infos[0].nb_days ? 'Dans '+infos[0].nb_days+' jours' : 'Dans '+infos[0].nb_days+' jours' }} - {{day}}
                        </h2>
                    </li>
                    <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12 well well-height" ng-repeat="info in infos">
                        <div ng-if="info.img" style="padding-bottom: 20px;">
                            <img class="img-thumbnail img-hover img-center" ng-src="img/{{ info.type == 'manga' ? 'tomes' : 'animes' }}/{{ info.img }}">
                        </div>
                        <div ng-if="!info.img" style="padding-bottom: 20px;">
                            <img class="img-thumbnail img-hover img-center" ng-src="img/default/thumbnail.png">
                        </div>
                        <p style="text-align: center;">
                            <a href="#/{{ info.type }}/{{ info.id }}">{{ info.title_oeuvre }}</a>
                        </p>
                        <p style="text-align: center; margin-top: 10px;">{{ info.type == "manga" ? 'Tome' : 'Épisode' }} {{ info.number }}{{ info.title ? ' - '+info.title : '' }}</p>
                    </li>
                </ul>
            </div>
        </div>
  </ion-content>
</ion-view>
