<ion-header>
    <ion-navbar>
        <ion-title>Fil d'actualité</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards has-header">




    <div class="item card-item">
        <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
            <div class="item item-avatar item-text-wrap">
                <span class="avatar" style="background-image: url('img/actu/1.jpg');"></span>
                <h2>Miya invitée à Japan Touch</h2>
                <p>Vendredi, 02 Décembre 2016 - Source :Japan Touch</p>
                <p>Semaine après semaine, la liste des invités du prochain Japan Touch ne cesse ne t'étoffer. Aujourd'hui, c'est la dessinatrice Miya, en pleine promotion de sa nouvelle série Alchimia; qui sera présente au festival qui pour rappel se déroulera les 10 et 11 Décembre à Lyon.
                    L'auteure participera à plusieurs séances de dédicace tout au long du week-end.</p>
                <div class="card-footer text-right">
                    <i class="icon ion-chatbubbles positive"></i> 6
                    <i class="icon ion-heart assertive"></i> 23
                    <div class="pull-left">
                        <i class="icon ion-clock"></i> just now
                    </div>
                </div>
            </div>
        </div>
    </div>




    <ion-card>

        <ion-item>
            <h2>Le film live Death Note - Light up the NEW world rapporte plus de deux milliards de yens</h2>
            <p>Jeudi, 01 Décembre 2016 - Source :Anime News Network</p>
        </ion-item>

        <img src="img/actu/2.jpg">

        <ion-card-content>
            <p>Le dernier film live en date de la franchise Death Note continue de séduire le public japonais.
                Après un mois d'exploitation en salle, la production a désormais dépassé les deux milliards de yens en termes de chiffres...
                Sorti le 29 octobre 2016 dans les salles obscures japonaises, Death Note - Light up the NEW world a désormais atteint le chiffre de 2 milliards de yens (soit approximativement 16 623 337 euros), ce qui correspond à 1,5 millions de tickets vendus à travers l'archipel nippon.
                Fait intéressant, le film est aussi sorti en Thaïlande et à Singapour, où il s'est hissé en seconde place des box-offices pour sa semaine de sortie, étant aussi en tête parmi les nouvelles productions sorties début novembre.</p>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>30 J'aime</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>64 Commentaires</div>
                </button>
            </ion-col>
            <ion-col center text-center>
                <ion-note>
                    Il y a 2j
                </ion-note>
            </ion-col>
        </ion-row>

    </ion-card>

    <ion-card>

        <ion-item>
            <h2>Raimu Kawasaki met son maillot chez Phat Company</h2>
            <p>Jeudi, 01 Décembre 2016 - Source :Phat Company / Good Smile Company</p>
        </ion-item>

        <img src="img/actu/3a.jpg">
        <img src="img/actu/3b.jpg">

        <ion-card-content>
            <p>Après sa figurine de Rin Suzunoki, Phat Company continue sur la série Bakuon!! en dévoilant sa statuette de Raimu Kawasaki.</p>
            <p>Afin d'être raccord avec ce qui a été proposé pour la figurine de Rin, le fabricant propose ici aussi une échelle 1/10 en PVC, ainsi Raimu fera une hauteur de 15cm.
                La mystérieuse jeune fille ne quittant pas son casque est proposée dans le maillot de bain qu'elle enfile quand elle lave sa bécane adorée.
                Raimu sera commercialisée en juin 2017. Son prix fabricant hors taxes est de 5 800 yen (entre 45 et 50€).</p>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>19 J'aime</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>14 Commentaires</div>
                </button>
            </ion-col>
            <ion-col center text-center>
                <ion-note>
                    Il y a 2j
                </ion-note>
            </ion-col>
        </ion-row>

    </ion-card>

    <ion-card>

        <ion-item>
            <h2>Trois nouvelles vidéos pour Blue Exorcist - Saison 2</h2>
            <p>Jeudi, 01 Décembre 2016 - Source :ANN</p>
        </ion-item>

        <img src="img/actu/4.jpg">

        <ion-card-content>
            <p>La deuxième saison de Blue Exorcist, intitulée Kyoto Fujo Ô-hen, continue de faire parler d'elle en proposant deux nouveaux trailers mettant en valeur les personnages Shiemi Moriyama et Izumo Kamiki, ainsi qu'un teaser !

                Cette seconde saison, qui va adapter les évènements de l'arc du roi impur, qu'on retrouve dans les tomes 5 à 9 du manga.
                La première saison est pour rappel disponible en France chez Kazé.</p>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="thumbs-up"></ion-icon>
                    <div>55 J'aime</div>
                </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-left clear small>
                    <ion-icon name="text"></ion-icon>
                    <div>34 Commentaires</div>
                </button>
            </ion-col>
            <ion-col center text-center>
                <ion-note>
                    Il y a 2j
                </ion-note>
            </ion-col>
        </ion-row>

    </ion-card>

</ion-content>
