<ion-view view-title="Fil d'actualité">
    <ion-content>

        <div class="list card">

            <div class="card">
                <div class="item item-avatar">
                    <h2>Miya invitée à Japan Touch</h2>
                    <p>Vendredi, 02 Décembre 2016 - Source :Japan Touch</p>
                </div>

                <div class="item item-body">
                    <img class="img-center" src="img/actu/1.jpg">

                    <p style="padding: 10px;">
                        Semaine après semaine, la liste des invités du prochain Japan Touch ne cesse ne t'étoffer.
                        Aujourd'hui, c'est la dessinatrice Miya, en pleine promotion de sa nouvelle série Alchimia; qui sera présente au festival qui pour rappel se déroulera les 10 et 11 Décembre à Lyon.
                        L'auteure participera à plusieurs séances de dédicace tout au long du week-end.
                    </p>

                    <p style="text-align: center;">
                        <a href="#" class="subdued">12 J'aime</a>
                        <a href="#" class="subdued">4 Commentaires</a>
                        <a href="#" class="subdued">Il y a 11h</a>
                    </p>
                </div>
            </div>

            <div class="card margin">
                <div class="item item-avatar">
                    <h2>Le film live Death Note - Light up the NEW world rapporte plus de deux milliards de yens</h2>
                    <p>Jeudi, 01 Décembre 2016 - Source :Anime News Network</p>
                </div>

                <div class="item item-body">
                    <img class="img-center" src="img/actu/2.jpg">

                    <p style="padding: 10px;">
                        Le dernier film live en date de la franchise Death Note continue de séduire le public japonais.
                        Après un mois d'exploitation en salle, la production a désormais dépassé les deux milliards de yens en termes de chiffres...
                        Sorti le 29 octobre 2016 dans les salles obscures japonaises, Death Note - Light up the NEW world a désormais atteint le chiffre de 2 milliards de yens (soit approximativement 16 623 337 euros), ce qui correspond à 1,5 millions de tickets vendus à travers l'archipel nippon.
                        Fait intéressant, le film est aussi sorti en Thaïlande et à Singapour, où il s'est hissé en seconde place des box-offices pour sa semaine de sortie, étant aussi en tête parmi les nouvelles productions sorties début novembre.
                    </p>

                    <p style="text-align: center;">
                        <a href="#" class="subdued">30 J'aime</a>
                        <a href="#" class="subdued">64 Commentaires</a>
                        <a href="#" class="subdued">Il y a 2j</a>
                    </p>
                </div>
            </div>

            <div class="card margin">
                <div class="item item-avatar">
                    <h2>Raimu Kawasaki met son maillot chez Phat Company</h2>
                    <p>Jeudi, 01 Décembre 2016 - Source :Phat Company / Good Smile Company</p>
                </div>

                <div class="item item-body">
                    <img class="img-center" src="img/actu/3a.jpg">
                    <img class="img-center" src="img/actu/3b.jpg">

                    <p style="padding: 10px;">
                        Après sa figurine de Rin Suzunoki, Phat Company continue sur la série Bakuon!! en dévoilant sa statuette de Raimu Kawasaki.
                    </p>
                    <p style="padding: 10px;">
                        Afin d'être raccord avec ce qui a été proposé pour la figurine de Rin, le fabricant propose ici aussi une échelle 1/10 en PVC, ainsi Raimu fera une hauteur de 15cm.
                        La mystérieuse jeune fille ne quittant pas son casque est proposée dans le maillot de bain qu'elle enfile quand elle lave sa bécane adorée.
                        Raimu sera commercialisée en juin 2017. Son prix fabricant hors taxes est de 5 800 yen (entre 45 et 50€).
                    </p>

                    <p style="text-align: center;">
                        <a href="#" class="subdued">19 J'aime</a>
                        <a href="#" class="subdued">14 Commentaires</a>
                        <a href="#" class="subdued">Il y a 2j</a>
                    </p>
                </div>
            </div>

            <div class="card margin">
                <div class="item item-avatar">
                    <h2>Trois nouvelles vidéos pour Blue Exorcist - Saison 2</h2>
                    <p>Jeudi, 01 Décembre 2016 - Source :ANN</p>
                </div>

                <div class="item item-body">
                    <img class="img-center" src="img/actu/4.jpg">

                    <p style="padding: 10px;">
                        La deuxième saison de Blue Exorcist, intitulée Kyoto Fujo Ô-hen, continue de faire parler d'elle en proposant deux nouveaux trailers mettant en valeur les personnages Shiemi Moriyama et Izumo Kamiki, ainsi qu'un teaser !
                        Cette seconde saison, qui va adapter les évènements de l'arc du roi impur, qu'on retrouve dans les tomes 5 à 9 du manga.
                        La première saison est pour rappel disponible en France chez Kazé.
                    </p>

                    <p style="text-align: center;">
                        <a href="#" class="subdued">155 J'aime</a>
                        <a href="#" class="subdued">134 Commentaires</a>
                        <a href="#" class="subdued">1Il y a 2j</a>
                    </p>
                </div>
            </div>

        </div>

    </ion-content>
</ion-view>